[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank
[submodule ".vim/vundle"]
	path = .vim/vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
